
@import 'vars';
@import 'global';
@import 'fonts';
     


.header__top{
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}


.header__burger{
  display: none;
}

.header__item{
  width: 30px;
  height: 2px;
  display: block;
  background-color: #ccc;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 100%;
    height: 100%;
    background-color: #ccc;
  }
  &::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 7px;
    width: 100%;
    height: 100%;
    background-color: #ccc;
  }
}

.header__menu-list{
  li{
    display: inline-block;
    &+li{
      margin-left: 30px;
    }
    a{
      font-size: 16px;
      text-transform: uppercase;  
      transition: all .2s;
      &:hover{
        color: $red;
      }    
    }
  }
}


.slider__inner{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    margin-left: 100%;
    background-color: #f3af9d;
    height: 60px;
    width: 1000%;
  }
  &::after{
    content: '';
    position: absolute;
    top: 0;
    right: 10px;
    margin-right: 100%;
    background-color: #f3af9d;
    height: 60px;
    width: 1000%;
  }
}


.slider__item {
  min-height: 400px;   
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;  
  margin-bottom: 20px;   
  position: relative; 
}



.slider__info{
  width: 410px;
  position: absolute;
  left: 38px;
  bottom: 30px;
  padding: 20px 25px;
  color: #fff;
 background-color: rgba(232, 102, 60, .8);
 &-title{
   font-size: 18px;
   text-transform: uppercase;
   margin-bottom: 20px;
 }
  &-text {
    font-family: 'Helvetica Neue';   
    font-size: 12px;
    line-height: 18px;
   
  }
}


.slick-prev, .slick-next {    
  width: 36px;
  height: 52px;
}


.slick-prev{
  position: absolute;
  left: 25px;
  z-index: 2;
}

.slick-next {
    position: absolute;
    right: 25px;
    z-index: 2;
}

.slick-prev:before {
    display: none;
}

.slick-next:before {
   display: none;
}

.thumbs__item{
  width: 140px;
  height: 120px;
  background-size: cover;  
  background-position: top right;
  background-repeat: no-repeat;  
  
}



.thumbs .slick-track{
 transform: translate3d(0px, 0px, 0px) !important;
}

.thumbs .slick-slide{
  max-width: 140px;
}

.thumbs .slick-track div+div{
  margin-left: 20px;
}

.services{
  padding: 40px 0;
}

.services__inner{
  display: flex;
  justify-content: space-between;
}

.services__item{
  width: 275px;
  text-align: left;
  &-title{
    color: $red;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    padding-left: 70px;
    margin-bottom: 25px; 
    position: relative; 
  }
  &-img{
    position: absolute;
    left: 0;
    top: 0;
  }
  &-text {
    font-family: 'Helvetica Neue';
    color: #414141;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  &-btn{
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    background-color: $red;
    padding: 10px 14px;
  }
}

.works__title-line{
  color: $red;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
  background-image: url('../images/line-bg.jpg');  
  span{
    background-color: #fff;
    padding-right: 20px;
    display: inline-block;
  }
}

.works__inner{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.works__item{    
  width: 220px; 
  &-img{
   display: block;
   width: 100%;   
   height: 184px;
  }
  &-content{
    padding: 12px 15px;
    border: 1px solid #dbdbdb;
    border-top: none;
  }
  &-title{
    // display: block;
    color: #b9b9b9;
    font-size: 16px;
    text-transform: uppercase;
  }
  &-text{
     color: $red;
    font-size: 11px;
    text-transform: uppercase;
    padding-top: 6px;
  }
}


.footer__content{
 color: #fff;
 background-color: $red;
 margin: 0 12px;
 position: relative;
 &::before{
   content: '';
   position: absolute;
   left: 10px;
   top: 0;
   height: 100%;
   width: 1000%;
   background-color: #f3b29d;
   margin-left: 100%;
 }
 &::after{
   content: '';
   position: absolute;
   right: 10px;
   bottom: 0;
   height: 100%;
   width: 1000%;
   background-color: #f3b29d;
   margin-right: 100%;
 }
}

.footer__inner{
  display: flex;
  justify-content: space-between;
  padding: 40px 30px 50px;
}

.footer__item{
  width: 265px;
  &-title{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &-text{
    font-family: 'Helvetica Neue';
    font-size: 12px;
    line-height: 14px;
    a{
      color: #f3b29d;
    }
  }
}

.footer__social-list{
  margin-top: 20px;
  a{
    background-image: url('../images/social/css_sprites.png');
    width: 30px;
    height: 31px;
    display: block;
  }
  li{
    display: inline-block;
    &+li{
      margin-left: 6px;
    }
  }
}

.facebook{
  background-position: -60px -0;
}

.twitter{
  background-position: -30px -31px;
}

.email{
  background-position: -30px -0;
}

.rss{
  background-position: -0 -31px;
}
















